#gameTitle {
  font-size: 40px;
  color: red;
  background-color: blue;
}
body {
  background-image: url("../images/earth_moon.jpg");
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
  background-size: cover;
}
#timer {
    font-size: 30px;
    color:white;
}
.container {
  background-color: darkgrey;
  opacity: 0.9;
}
.myQuestions {
    font-size: 28px;
}
.myAnswerRadios {
  padding: 5px;
  opacity: 1;
}
.myAnswerRadios:hover {
  color: white;
}
